<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/nav.css">
    <link rel="stylesheet" href="./../css/content.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>SIT Blog</title>
        <link rel="icon" href="../1.png">
</head>
<body>
    <div>
        <%- nav %>
        <div class="empty" style="height: 136px;"></div>
        <% putContent.forEach(function(content) { %>
        <div class="page">
            <div class="box-content">
                <div class="wrap-all-content">
                    <div class="wrap-content-content1">
                        <div class="wrap-content-picture">
                            <img src="<%= content.urlpicture %>" alt="Picture">
                        </div>
                        <div class="wrap-content-text">
                            <div class="heading-text"><%= content.postTitle %></div>
                            <div class="desc-text" ><p><%= content.description %></p></div>
                        </div>
                        <div class="wrap-content-text2">
                            <div class="name-text"><%= content.name %> (posted)</div>
                            <div class="date-text"><%= content.editDate %></div>
                        </div>
                    </div>
                    <div class="wrap-content-content2">
                        <div class="wrap-tag-content">
                            <% if (content.typeSIT) { %><div class="tag-sit">SIT</div><% } %>
                            <% if (content.typeIT) { %><div class="tag-it">IT</div><% } %>
                            <% if (content.typeCS) { %><div class="tag-cs">CS</div><% } %>
                            <% if (content.typeDSI) { %><div class="tag-dsi">DSI</div><% } %>
                        </div>
                        
                        <form action="/likeReturn?idPost=<%= content.idPost %>" method="get" class="wrap-heart-content">
                            <div style="display: flex; align-items: center;">
                                <input type="checkbox" name="like" id="checkboxheart" value="like">
                                <label for="checkboxheart" class="heart">
                                    <i class="fa-solid fa-heart" id="heart" onclick="Like()"></i>
                                </label>
                            </div>
                            <input type="hidden" name="idPost" value="<%= content.idPost %>">
                            <input type="submit" value="Back to Blogs" class="text-back-content">
                        </form>

                        <script>
                                let num = 2;
                                function Like() {
                                    const heart = document.querySelector('.fa-heart');
                                    heart.classList.toggle('heartToggle');
                                    
                                    const checkbox = document.getElementById('checkboxheart');
                                    if (num % 2 === 0) checkbox.checked = false; // ตั้งให้ checkbox เป็นเช็ค
                                    else checkbox.checked = true;
                                    num++;
                                    console.log("Checkbox checked status:", !checkbox.checked);
                                }

                        </script>
                        
                    </div>
                    <% if (String(content.idAuthor).includes(userID)) { %>
                        <div class="wrap-link-text" >
                            <div class="delete-text" id="logout"  onclick="logoutPopup()" >Delete</div>
                            <a href="/toeditContent?idPost=<%= content.idPost %>" class="edit-text">Edit</a>
                        </div>
                    <% } %>  
                </div>
            </div>
        </div>
        <div class="popup" id="popup">
            <div class="logo">
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="text"><span>Are you sure you want to Delete?</span></div>
            <div class="popupBtn">
                <a href=""><input type="button" onclick="closePopup()" value="cancel" id="cancel" class="cancel" /></a>
                <a href="/deleteContent?idPost=<%= content.idPost %>"><input type="button" onclick="closePopup()" value="delete" id="logout"
                        class="logout" /></a>
            </div>
            <div class="backgroundLogo">
                <svg xmlns="http://www.w3.org/2000/svg" width="173" height="140" viewBox="0 0 173 140" fill="none">
                    <g clip-path="url(#clip0_291_1480)">
                        <mask id="mask0_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="11" y="0"
                            width="140" height="140">
                            <path d="M11.7188 0.625488H150.669V139.572H11.7188V0.625488Z" fill="white" />
                        </mask>
                        <g mask="url(#mask0_291_1480)">
                            <mask id="mask1_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="11" y="0"
                                width="140" height="140">
                                <path
                                    d="M81.1938 0.625488C42.8233 0.625488 11.7188 31.73 11.7188 70.097C11.7188 108.467 42.8233 139.572 81.1938 139.572C119.564 139.572 150.669 108.467 150.669 70.097C150.669 31.73 119.564 0.625488 81.1938 0.625488Z"
                                    fill="white" />
                            </mask>
                            <g mask="url(#mask1_291_1480)">
                                <path d="M11.7188 0.625488H150.669V139.572H11.7188V0.625488Z" fill="#222222" />
                            </g>
                        </g>
                        <mask id="mask2_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="13" y="2"
                            width="136" height="136">
                            <path d="M13.5986 2.50146H148.79V137.696H13.5986V2.50146Z" fill="white" />
                        </mask>
                        <g mask="url(#mask2_291_1480)">
                            <mask id="mask3_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="13" y="2"
                                width="136" height="136">
                                <path
                                    d="M81.1941 2.50146C43.8631 2.50146 13.5986 32.766 13.5986 70.097C13.5986 107.431 43.8631 137.696 81.1941 137.696C118.525 137.696 148.79 107.431 148.79 70.097C148.79 32.766 118.525 2.50146 81.1941 2.50146Z"
                                    fill="white" />
                            </mask>
                            <g mask="url(#mask3_291_1480)">
                                <path d="M13.5986 2.50146H148.79V137.696H13.5986V2.50146Z" fill="#336699" />
                            </g>
                        </g>
                        <mask id="mask4_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="30" y="19"
                            width="102" height="102">
                            <path d="M30.6895 19.5918H131.699V120.605H30.6895V19.5918Z" fill="white" />
                        </mask>
                        <g mask="url(#mask4_291_1480)">
                            <mask id="mask5_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="30" y="19"
                                width="102" height="102">
                                <path
                                    d="M81.1944 19.5918C53.2995 19.5918 30.6895 42.2053 30.6895 70.0968C30.6895 97.9918 53.2995 120.605 81.1944 120.605C109.089 120.605 131.699 97.9918 131.699 70.0968C131.699 42.2053 109.089 19.5918 81.1944 19.5918Z"
                                    fill="white" />
                            </mask>
                            <g mask="url(#mask5_291_1480)">
                                <path d="M30.6895 19.5918H131.699V120.605H30.6895V19.5918Z" fill="#3399CC" />
                            </g>
                        </g>
                        <mask id="mask6_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="42" y="31"
                            width="78" height="78">
                            <path d="M42.6172 31.52H119.771V108.678H42.6172V31.52Z" fill="white" />
                        </mask>
                        <g mask="url(#mask6_291_1480)">
                            <mask id="mask7_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="42" y="31"
                                width="78" height="78">
                                <path
                                    d="M81.1942 31.52C59.8897 31.52 42.6172 48.7925 42.6172 70.097C42.6172 91.405 59.8897 108.678 81.1942 108.678C102.499 108.678 119.771 91.405 119.771 70.097C119.771 48.7925 102.499 31.52 81.1942 31.52Z"
                                    fill="white" />
                            </mask>
                            <g mask="url(#mask7_291_1480)">
                                <path d="M42.6172 31.52H119.771V108.678H42.6172V31.52Z" fill="#0CC0DF" />
                            </g>
                        </g>
                        <path
                            d="M38.8329 41.711C36.2149 42.327 34.1149 45.085 34.1569 47.815L34.4089 59.533C34.3949 59.897 34.4649 60.205 34.5489 60.541C35.0529 62.683 37.0269 63.971 39.3089 63.439L57.3409 59.197C57.7609 59.099 58.2229 59.337 58.3209 59.715C58.3349 59.813 58.2929 59.869 58.3069 59.953L58.3769 62.683C58.3629 63.243 57.9569 63.775 57.4389 63.901L35.6129 69.039L35.7949 77.523L64.2709 70.817C66.8749 70.201 68.9749 67.443 68.9189 64.713L68.6529 52.995C68.6529 52.645 68.5689 52.295 68.4989 52.001C67.9949 49.859 66.0769 48.599 63.8089 49.131L45.7629 53.373C45.3429 53.485 44.9229 53.219 44.8249 52.799C44.8109 52.715 44.8389 52.659 44.8109 52.575L44.7549 49.831C44.7689 49.285 45.1469 48.753 45.6509 48.641L67.4909 43.489L67.2949 35.019L38.8329 41.711Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path d="M77.2041 32.6813L77.9741 67.5833L88.4461 65.1193L87.6761 30.2173L77.2041 32.6813Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M95.2334 28.4245L95.4294 36.9085L107.301 34.1085L107.889 60.5405L118.319 58.0905L117.731 31.6585L129.617 28.8585L129.421 20.3745L95.2334 28.4245Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M36.4999 40.2667C33.8819 40.8827 31.7819 43.6407 31.8239 46.3707L32.0759 58.0887C32.0619 58.4527 32.1319 58.7607 32.2159 59.0967C32.7199 61.2387 34.6939 62.5267 36.9759 61.9947L55.0079 57.7527C55.4279 57.6547 55.8899 57.8927 55.9879 58.2707C56.0019 58.3687 55.9599 58.4247 55.9739 58.5087L56.0439 61.2387C56.0299 61.7987 55.6239 62.3307 55.1059 62.4567L33.2799 67.5947L33.4619 76.0787L61.9379 69.3727C64.5419 68.7567 66.6419 65.9987 66.5859 63.2687L66.3199 51.5507C66.3199 51.2007 66.2359 50.8507 66.1659 50.5567C65.6619 48.4147 63.7439 47.1547 61.4759 47.6867L43.4299 51.9287C43.0099 52.0407 42.5899 51.7747 42.4919 51.3547C42.4779 51.2707 42.5059 51.2147 42.4779 51.1307L42.4219 48.3867C42.4359 47.8407 42.8139 47.3087 43.3179 47.1967L65.1579 42.0447L64.9619 33.5747L36.4999 40.2667Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path d="M74.8711 31.2374L75.6411 66.1394L86.1131 63.6754L85.3431 28.7734L74.8711 31.2374Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M92.9004 26.9807L93.0964 35.4647L104.968 32.6647L105.556 59.0967L115.986 56.6467L115.398 30.2147L127.284 27.4147L127.088 18.9307L92.9004 26.9807Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M34.1659 38.8229C31.5479 39.4389 29.4479 42.1969 29.4899 44.9269L29.7419 56.6449C29.7279 57.0089 29.7979 57.3169 29.8819 57.6529C30.3859 59.7949 32.3599 61.0829 34.6419 60.5509L52.6739 56.3089C53.0939 56.2109 53.5559 56.4489 53.6539 56.8269C53.6679 56.9249 53.6259 56.9809 53.6399 57.0649L53.7099 59.7949C53.6959 60.3549 53.2899 60.8869 52.7719 61.0129L30.9459 66.1509L31.1279 74.6349L59.6039 67.9289C62.2079 67.3129 64.3079 64.5549 64.2519 61.8249L63.9859 50.1069C63.9859 49.7569 63.9019 49.4069 63.8319 49.1129C63.3279 46.9709 61.4099 45.7109 59.1419 46.2429L41.0959 50.4849C40.6759 50.5969 40.2559 50.3309 40.1579 49.9109C40.1439 49.8269 40.1719 49.7709 40.1439 49.6869L40.0879 46.9429C40.1019 46.3969 40.4799 45.8649 40.9839 45.7529L62.8239 40.6009L62.6279 32.1309L34.1659 38.8229Z"
                            fill="white" />
                        <path d="M72.5371 29.7936L73.3071 64.6956L83.7791 62.2316L83.0091 27.3296L72.5371 29.7936Z"
                            fill="white" />
                        <path
                            d="M90.5664 25.5368L90.7624 34.0208L102.634 31.2208L103.222 57.6528L113.652 55.2028L113.064 28.7708L124.95 25.9708L124.754 17.4868L90.5664 25.5368Z"
                            fill="white" />
                        <path
                            d="M16.1792 126.455L42.8912 120.169C48.8272 118.769 51.4312 115.759 51.3332 110.523L51.2212 106.953C51.2072 106.085 51.1232 105.357 50.9552 104.671C50.5212 102.809 49.5272 101.605 47.8892 101.143C48.4912 99.8407 48.7572 98.3427 48.7152 96.5227L48.6312 92.9667C48.6312 92.0987 48.5472 91.3567 48.3932 90.6707C47.5812 87.2267 44.8512 86.1907 39.8532 87.3667L15.4092 93.1207L16.1792 126.455ZM28.2052 114.541L28.1352 111.433L37.6272 109.193C38.3412 109.025 38.8592 109.333 39.0132 109.977C39.0412 110.061 39.0692 110.201 39.0412 110.355V110.537C39.0692 111.447 38.5932 112.091 37.7252 112.287L28.2052 114.541ZM27.9392 102.375L27.8832 99.2947L35.0932 97.5867C35.8072 97.4187 36.3112 97.7267 36.4512 98.3567C36.4792 98.4547 36.5072 98.5947 36.5072 98.7347L36.5492 98.9167C36.5212 99.8267 36.0592 100.471 35.2052 100.667L27.9392 102.375Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M54.5893 117.41L87.6853 109.612L87.4753 100.582L66.6153 105.496L66.0693 81.1919L53.8193 84.0759L54.5893 117.41Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M108.436 105.197C120.644 102.327 126.076 98.1828 125.936 91.8828L125.6 75.8948C125.6 75.2648 125.516 74.6628 125.39 74.1168C124.256 69.3148 118.656 68.3348 107.68 70.9248C95.4721 73.7948 90.0961 77.9388 90.2361 84.2248L90.5581 100.227C90.5581 100.857 90.6561 101.459 90.7821 102.005C91.9161 106.807 97.4601 107.787 108.436 105.197ZM102.738 94.4028L102.514 84.2808C102.486 82.3908 104.488 80.7528 107.89 79.9548C110.928 79.2408 113.014 79.7168 113.364 81.2568C113.406 81.3968 113.434 81.5368 113.42 81.6628L113.602 91.8408C113.672 93.6888 111.628 95.3688 108.268 96.1528C105.132 96.8948 103.144 96.4048 102.78 94.8648C102.752 94.7248 102.71 94.5428 102.738 94.4028Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M143.12 97.031C148.384 95.799 152.024 93.993 154.068 91.501L155.3 93.685L165.282 91.347L164.834 71.117L146.83 75.359L146.998 84.403L152.71 83.059C152.486 84.739 150.484 86.209 147.404 86.937C144.226 87.679 142.238 87.189 141.874 85.649C141.846 85.509 141.804 85.327 141.818 85.201L141.692 75.065C141.678 73.161 143.624 71.537 147.026 70.739C150.064 70.025 152.108 70.501 152.458 72.041C152.5 72.181 152.528 72.321 152.5 72.461L152.514 72.811L164.792 69.913L164.736 66.679C164.736 66.049 164.652 65.447 164.526 64.901C163.392 60.099 157.792 59.119 146.816 61.709C134.608 64.579 129.232 68.723 129.372 75.009L129.722 91.109C129.722 91.921 129.792 92.663 129.946 93.349C130.982 97.745 135.196 98.907 143.12 97.031Z"
                            fill="#010101" fill-opacity="0.302" />
                        <path
                            d="M13.7026 124.922L40.4146 118.636C46.3506 117.236 48.9546 114.226 48.8566 108.99L48.7446 105.42C48.7306 104.552 48.6466 103.824 48.4786 103.138C48.0446 101.276 47.0506 100.072 45.4126 99.6104C46.0146 98.3084 46.2806 96.8104 46.2386 94.9904L46.1546 91.4344C46.1546 90.5664 46.0706 89.8244 45.9166 89.1384C45.1046 85.6944 42.3746 84.6584 37.3766 85.8344L12.9326 91.5884L13.7026 124.922ZM25.7286 113.008L25.6586 109.9L35.1506 107.66C35.8646 107.492 36.3826 107.8 36.5366 108.444C36.5646 108.528 36.5926 108.668 36.5646 108.822V109.004C36.5926 109.914 36.1166 110.558 35.2486 110.754L25.7286 113.008ZM25.4626 100.842L25.4066 97.7624L32.6166 96.0544C33.3306 95.8864 33.8346 96.1944 33.9746 96.8244C34.0026 96.9224 34.0306 97.0624 34.0306 97.2024L34.0726 97.3844C34.0446 98.2944 33.5826 98.9384 32.7286 99.1344L25.4626 100.842Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M52.1128 115.878L85.2088 108.08L84.9988 99.0497L64.1388 103.964L63.5928 79.6597L51.3428 82.5437L52.1128 115.878Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M105.959 103.665C118.167 100.795 123.599 96.6506 123.459 90.3506L123.123 74.3626C123.123 73.7326 123.039 73.1306 122.913 72.5846C121.779 67.7826 116.179 66.8026 105.203 69.3926C92.9955 72.2626 87.6195 76.4066 87.7595 82.6926L88.0815 98.6946C88.0815 99.3246 88.1795 99.9266 88.3055 100.473C89.4395 105.275 94.9835 106.255 105.959 103.665ZM100.261 92.8706L100.037 82.7486C100.009 80.8586 102.011 79.2206 105.413 78.4226C108.451 77.7086 110.537 78.1846 110.887 79.7246C110.929 79.8646 110.957 80.0046 110.943 80.1306L111.125 90.3086C111.195 92.1566 109.151 93.8366 105.791 94.6206C102.655 95.3626 100.667 94.8726 100.303 93.3326C100.275 93.1926 100.233 93.0106 100.261 92.8706Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M140.643 95.4988C145.907 94.2668 149.547 92.4608 151.591 89.9688L152.823 92.1528L162.805 89.8148L162.357 69.5848L144.353 73.8268L144.521 82.8708L150.233 81.5268C150.009 83.2068 148.007 84.6768 144.927 85.4048C141.749 86.1468 139.761 85.6568 139.397 84.1168C139.369 83.9768 139.327 83.7948 139.341 83.6688L139.215 73.5328C139.201 71.6288 141.147 70.0048 144.549 69.2068C147.587 68.4928 149.631 68.9688 149.981 70.5088C150.023 70.6488 150.051 70.7888 150.023 70.9288L150.037 71.2788L162.315 68.3808L162.259 65.1468C162.259 64.5168 162.175 63.9148 162.049 63.3688C160.915 58.5668 155.315 57.5868 144.339 60.1768C132.131 63.0468 126.755 67.1908 126.895 73.4768L127.245 89.5768C127.245 90.3888 127.315 91.1308 127.469 91.8168C128.505 96.2128 132.719 97.3748 140.643 95.4988Z"
                            fill="#010101" fill-opacity="0.502" />
                        <path
                            d="M11.227 123.39L37.939 117.104C43.875 115.704 46.479 112.694 46.381 107.458L46.269 103.888C46.255 103.02 46.171 102.292 46.003 101.606C45.569 99.7442 44.575 98.5402 42.937 98.0782C43.539 96.7762 43.805 95.2782 43.763 93.4582L43.679 89.9022C43.679 89.0342 43.595 88.2922 43.441 87.6062C42.629 84.1622 39.899 83.1262 34.901 84.3022L10.457 90.0562L11.227 123.39ZM23.253 111.476L23.183 108.368L32.675 106.128C33.389 105.96 33.907 106.268 34.061 106.912C34.089 106.996 34.117 107.136 34.089 107.29V107.472C34.117 108.382 33.641 109.026 32.773 109.222L23.253 111.476ZM22.987 99.3102L22.931 96.2302L30.141 94.5222C30.855 94.3542 31.359 94.6622 31.499 95.2922C31.527 95.3902 31.555 95.5302 31.555 95.6702L31.597 95.8522C31.569 96.7622 31.107 97.4062 30.253 97.6022L22.987 99.3102Z"
                            fill="white" />
                        <path
                            d="M49.6362 114.345L82.7322 106.547L82.5222 97.517L61.6622 102.431L61.1162 78.127L48.8662 81.011L49.6362 114.345Z"
                            fill="white" />
                        <path
                            d="M103.484 102.132C115.692 99.2624 121.124 95.1184 120.984 88.8184L120.648 72.8304C120.648 72.2004 120.564 71.5984 120.438 71.0524C119.304 66.2504 113.704 65.2704 102.728 67.8604C90.5199 70.7304 85.1439 74.8744 85.2839 81.1604L85.6059 97.1624C85.6059 97.7924 85.7039 98.3944 85.8299 98.9404C86.9639 103.742 92.5079 104.722 103.484 102.132ZM97.7859 91.3384L97.5619 81.2164C97.5339 79.3264 99.5359 77.6884 102.938 76.8904C105.976 76.1764 108.062 76.6524 108.412 78.1924C108.454 78.3324 108.482 78.4724 108.468 78.5984L108.65 88.7764C108.72 90.6244 106.676 92.3044 103.316 93.0884C100.18 93.8304 98.1919 93.3404 97.8279 91.8004C97.7999 91.6604 97.7579 91.4784 97.7859 91.3384Z"
                            fill="white" />
                        <path
                            d="M138.167 93.9665C143.431 92.7345 147.071 90.9285 149.115 88.4365L150.347 90.6205L160.329 88.2825L159.881 68.0525L141.877 72.2945L142.045 81.3385L147.757 79.9945C147.533 81.6745 145.531 83.1445 142.451 83.8725C139.273 84.6145 137.285 84.1245 136.921 82.5845C136.893 82.4445 136.851 82.2625 136.865 82.1365L136.739 72.0005C136.725 70.0965 138.671 68.4725 142.073 67.6745C145.111 66.9605 147.155 67.4365 147.505 68.9765C147.547 69.1165 147.575 69.2565 147.547 69.3965L147.561 69.7465L159.839 66.8485L159.783 63.6145C159.783 62.9845 159.699 62.3825 159.573 61.8365C158.439 57.0345 152.839 56.0545 141.863 58.6445C129.655 61.5145 124.279 65.6585 124.419 71.9445L124.769 88.0445C124.769 88.8565 124.839 89.5985 124.993 90.2845C126.029 94.6805 130.243 95.8425 138.167 93.9665Z"
                            fill="white" />
                        <mask id="mask8_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="142" y="23"
                            width="9" height="9">
                            <path d="M142.556 23.9038H150.62V31.9678H142.556V23.9038Z" fill="white" />
                        </mask>
                        <g mask="url(#mask8_291_1480)">
                            <path
                                d="M149.696 28.4363L150.662 27.9533L149.696 27.4738C148.569 26.9103 147.655 25.9933 147.092 24.8663L146.609 23.9038L146.126 24.8663C145.562 25.9933 144.649 26.9103 143.522 27.4738L142.556 27.9533L143.522 28.4363C144.649 28.9998 145.562 29.9168 146.126 31.0438L146.609 32.0063L147.092 31.0438C147.655 29.9168 148.569 28.9998 149.696 28.4363Z"
                                fill="#222222" />
                        </g>
                        <mask id="mask9_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="0" y="83"
                            width="12" height="12">
                            <path d="M0.501953 83.1592H11.926V94.5832H0.501953V83.1592Z" fill="white" />
                        </mask>
                        <g mask="url(#mask9_291_1480)">
                            <path
                                d="M10.3785 89.4312L11.712 88.7662L10.3785 88.0977C8.81755 87.3172 7.55405 86.0537 6.77355 84.4927L6.10505 83.1592L5.44005 84.4927C4.65955 86.0537 3.39255 87.3172 1.83505 88.0977L0.498047 88.7662L1.83505 89.4312C3.39255 90.2117 4.65955 91.4787 5.44005 93.0362L6.10505 94.3732L6.77355 93.0362C7.55405 91.4787 8.81755 90.2117 10.3785 89.4312Z"
                                fill="#222222" />
                        </g>
                        <mask id="mask10_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="162" y="91"
                            width="11" height="11">
                            <path d="M162.174 91.1318H172.926V101.884H162.174V91.1318Z" fill="white" />
                        </mask>
                        <g mask="url(#mask10_291_1480)">
                            <path
                                d="M171.701 97.1833L172.989 96.5393L171.701 95.8953C170.196 95.1428 168.978 93.9213 168.225 92.4198L167.581 91.1318L166.937 92.4198C166.185 93.9213 164.963 95.1428 163.462 95.8953L162.174 96.5393L163.462 97.1833C164.963 97.9323 166.185 99.1538 166.937 100.659L167.581 101.947L168.225 100.659C168.978 99.1538 170.196 97.9323 171.701 97.1833Z"
                                fill="#222222" />
                        </g>
                        <mask id="mask11_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="31" y="124"
                            width="9" height="9">
                            <path d="M31.8584 124.812H39.2504V132.204H31.8584V124.812Z" fill="white" />
                        </mask>
                        <g mask="url(#mask11_291_1480)">
                            <path
                                d="M38.193 128.838L39.047 128.411L38.193 127.98C37.192 127.48 36.38 126.671 35.8795 125.67L35.4525 124.812L35.0255 125.67C34.525 126.671 33.713 127.48 32.712 127.98L31.8545 128.411L32.712 128.838C33.713 129.338 34.525 130.15 35.0255 131.148L35.4525 132.005L35.8795 131.148C36.38 130.15 37.192 129.338 38.193 128.838Z"
                                fill="#222222" />
                        </g>
                        <mask id="mask12_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="76" y="2"
                            width="9" height="9">
                            <path d="M76 2.8584H84.064V10.9224H76V2.8584Z" fill="white" />
                        </mask>
                        <g mask="url(#mask12_291_1480)">
                            <path
                                d="M83.14 7.3944L84.106 6.9114L83.14 6.4284C82.013 5.8649 81.0995 4.9514 80.536 3.8244L80.053 2.8584L79.57 3.8244C79.0065 4.9514 78.093 5.8649 76.966 6.4284L76 6.9114L76.966 7.3944C78.093 7.9579 79.0065 8.8714 79.57 9.9984L80.053 10.9644L80.536 9.9984C81.0995 8.8714 82.013 7.9579 83.14 7.3944Z"
                                fill="white" />
                        </g>
                        <mask id="mask13_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="49" y="20"
                            width="8" height="8">
                            <path d="M49.6377 20.4917H56.3577V27.2117H49.6377V20.4917Z" fill="white" />
                        </mask>
                        <g mask="url(#mask13_291_1480)">
                            <path
                                d="M55.6402 24.3032L56.4522 23.8972L55.6402 23.4912C54.6917 23.0187 53.9252 22.2487 53.4492 21.3002L53.0467 20.4917L52.6407 21.3002C52.1647 22.2487 51.3982 23.0187 50.4497 23.4912L49.6377 23.8972L50.4497 24.3032C51.3982 24.7757 52.1647 25.5457 52.6407 26.4942L53.0467 27.3027L53.4492 26.4942C53.9252 25.5457 54.6917 24.7757 55.6402 24.3032Z"
                                fill="white" />
                        </g>
                        <mask id="mask14_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="107" y="107"
                            width="8" height="8">
                            <path d="M107.584 107.774H114.304V114.494H107.584V107.774Z" fill="white" />
                        </mask>
                        <g mask="url(#mask14_291_1480)">
                            <path
                                d="M113.586 111.586L114.395 111.18L113.586 110.777C112.638 110.301 111.868 109.535 111.395 108.586L110.989 107.774L110.583 108.586C110.111 109.535 109.341 110.301 108.392 110.777L107.58 111.18L108.392 111.586C109.341 112.062 110.111 112.828 110.583 113.777L110.989 114.589L111.395 113.777C111.868 112.828 112.638 112.062 113.586 111.586Z"
                                fill="white" />
                        </g>
                        <mask id="mask15_291_1480" style="mask-type: luminance" maskUnits="userSpaceOnUse" x="81" y="124"
                            width="9" height="9">
                            <path d="M81.1943 124.812H89.2583V132.877H81.1943V124.812Z" fill="white" />
                        </mask>
                        <g mask="url(#mask15_291_1480)">
                            <path
                                d="M88.3343 129.348L89.3003 128.865L88.3343 128.382C87.2073 127.819 86.2938 126.905 85.7303 125.778L85.2473 124.812L84.7643 125.778C84.2008 126.905 83.2873 127.819 82.1603 128.382L81.1943 128.865L82.1603 129.348C83.2873 129.912 84.2008 130.825 84.7643 131.952L85.2473 132.918L85.7303 131.952C86.2938 130.825 87.2073 129.912 88.3343 129.348Z"
                                fill="white" />
                        </g>
                    </g>
                    <defs>
                        <clipPath id="clip0_291_1480">
                            <rect width="173" height="140" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="filterblack">
        
            </div>
        </div>
        <% }); %>
    </div>
    <style>
        .open{
            display: flex;
        }
    </style>
    <script>
        logout = document.getElementById("logout");
        cancelBtn = document.getElementById("cancel");
        popup = document.getElementById('popup');
        close = document.getElementById('open');
        content = document.getElementById('content');
        nav = document.getElementById('nav');
        contentPost = document.getElementById('contentPost');
        contentLike = document.getElementById('contentLike');

        function logoutPopup() {
            popup.classList.add('open');
            content.style.filter = "blur(5px)";
            nav.style.filter = "blur(5px)";
        }
        function closePopup() {
            content.style.filter = "none";
            nav.style.filter = "blur(5px)";
        }

        function changePageToLike() {
            contentPost.style.display = "none";
            contentLike.style.display = "flex";
        }
        function changePageToPost() {
            contentPost.style.display = "flex";
            contentLike.style.display = "none";
        }
    </script>
</body>
</html>
